*.luac
*.Civ5Map

Archipelago.lua
Continents.lua
Four_Corners.lua
Fractal.lua
Great_Plains.lua
Highlands.lua
Ice_Age.lua
InlandSea.lua
Lakes.lua
North_vs_South.lua
Oval.lua
Pangaea.lua
Ring.lua
Skirmish.lua
SmallContinents.lua
Terra.lua
TinyIslands.lua
West_vs_East.lua